body {
  font-family: sans-serif;
}

input {
  border-radius: 4px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 4px;
  border: none;
  padding: 4px 8px;
  margin-left: 8px;
  background-color: #ccc;
}

button:hover {
  background-color: #bf7fff;
  color: #fff;
  cursor: pointer;
}

li {
  margin-right: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}